<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="url_for('static', filename='hello.css')" />
  <head>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@v0.149.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.149.0/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
  <script type="module" slot="url_for('static','hello.js')"></script>
{{person}}
  </body>
</html>
<script type="module">
  import * as THREE from "three";
  import { CSS3DRenderer } from 'three/addons/renderers/CSS3DRenderer.js';

  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera(
    75,
    window.innerWidth / window.innerHeight,
    0.1,
    1000
  );

  const renderer = new THREE.WebGLRenderer();
  renderer.setAnimationLoop(animate);
  document.body.appendChild(renderer.domElement);

  const geometry = new THREE.BoxGeometry();
  const material = new THREE.MeshBasicMaterial({ color: 0x00faaa0 });
  const cube = new THREE.Mesh(geometry, material);
  const texture = new THREE.TextureLoader().load("url_for('static','./image.jpg') ");
  scene.add(cube);

  camera.position.z = 5;
  var mouseTolerance = 0.01;

document.onmousemove = function (e) {
  // var centerX = window.innerWidth * 0.5;
  // var centerY = window.innerHeight * 0.5;

  // camera.position.x = (e.clientX - centerX) * mouseTolerance;
  // camera.position.y = -1*(e.clientY - centerY) * mouseTolerance;
};

  function animate() {
    renderer.setSize(window.innerWidth, window.innerHeight);
    camera.aspect = window.innerWidth/ window.innerHeight
    camera.updateProjectionMatrix()
    renderer.render(scene, camera);
    cube.rotation.x += 0.01;
    cube.rotation.y += 0.01;
  }
</script>

<style>
    canvas{
    margin: 0;
    padding: 0;

}

html,body{
    display:block;
    margin:0;
    padding:0;
}
</style>
